@import "tailwindcss";
@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

@font-face {
    font-family: "pokemonLogo";
    src: url("Pokemon Solid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color: #ffcc00;
    border-color: blue;
    text-shadow: 8px 8px 0 #00043b;
}

.press-start-2p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.customFont {
    font-family: "pokemonLogo";
    color: #ffcc00;
    border-color: blue;
    -webkit-text-stroke: 4px blue;
    text-shadow: 8px 8px 0 #00043b;
}